#page-header {
  padding-left: 15px !important;
}
.content-header {
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  margin: 0 auto;
  height: 4.375rem;
  padding-left: 0 !important;
  padding-right: 0.875rem;
  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      .header-logo {
        height: 50px !important;
        margin-top: 10px;
      }
    }
    .burger {
      visibility: hidden;
    }
    a.nav-main-link {
      font-size: 1rem;
    }
    .nav-main-item {
      margin: 10px;
    }
    ul {
      .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        p {
          width: 50px;
        }
      }
      a {
        color: black;
      }
      .nav-main-link {
        .nav-main-link-icon {
          color: black;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .content-header {
    max-width: 96%;
  }
}
@media (min-width: 768px) {
  .content-header {
    align-items: center;
    padding-left: 0;
    padding-right: 1.75rem;
    ul {
      display: flex;
      flex-direction: row;
      margin-bottom: 0px;
      .logout {
        display: none !important;
      }
    }
  }
}
@media (max-width: 767px) {
  #page-header {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    background-color: lime;
    padding: 0px;
    padding-left: 0px !important;
  }
  .content-header {
    padding-right: 0px !important;
    align-items: flex-start !important;
    .heading {
      width: 100%;
      padding-right: 5px;
      .burger {
        margin-top: 15px;
        border: none;
        background: transparent;
        visibility: visible;
      }
      ul {
        margin-top: 15px;
      }
      .show {
        display: block;
      }
      .hide {
        display: none;
      }
      ul {
        z-index: 10;
        background-color: white;
        padding: 10px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        li {
          width: 150px;
        }
      }
      align-items: flex-start;
      justify-content: space-between;
      .nav-main-item {
        margin: 0px;
        margin-right: 0px;
      }
    }
    .second_menu {
      display: none;
    }
  }
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.token_text {
  color: #152439;
  margin-bottom: 0px !important;
}
.token {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  button {
    background: white;
    margin-left: auto;
    display: flex;
    align-items: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
}
