.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.tiles {
  height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: scroll; }

.imageTopTen {
  height: 100%;
  margin-top: -5px;
  margin-left: 2px; }
  @media (max-width: 420px) {
    .imageTopTen {
      height: 85%; } }

.perkImage {
  height: 60%; }
  @media (max-width: 420px) {
    .perkImage {
      height: 50%; } }

.imageStyle {
  height: 85px;
  margin-left: 4%;
  margin-top: 5%;
  box-shadow: 1px 3px 6px 0px #828080;
  width: 12%;
  border-radius: 0.55rem !important; }
  @media (max-width: 960px) {
    .imageStyle {
      height: 75px;
      margin-left: 4%;
      margin-top: 5%;
      box-shadow: 1px 3px 6px 0px #828080;
      width: 12%; } }
  @media (max-width: 420px) {
    .imageStyle {
      height: 45px;
      padding: 0 !important;
      margin-left: 2%; } }

@media only screen and (min-width: 320px) and (max-width: 359px) {
  .tiles {
    /* display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          width: 80%;
          height: 100%; */
    flex-wrap: wrap;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    margin-right: -10px; }
  .deal {
    position: relative;
    cursor: pointer;
    height: 260px;
    width: 136px;
    display: block;
    /* margin-left: 10px; */
    margin-right: 10px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    background-size: contain;
    background-repeat: no-repeat; }
  .deal .deal-caption {
    font-size: 15px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 111px;
    background-color: #fff;
    padding-top: 77px;
    text-align: center;
    line-height: 18px; }
  .deal .deal-caption b {
    font-weight: bold;
    color: #2b2929; }
  .deal .deal-caption span {
    font-size: 15px;
    color: #000;
    display: block;
    margin-top: 10px; }
  .deal .deal-caption .top10 {
    font-size: 10px; }
  .deal .deal-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 120px;
    height: 75px;
    margin: 80px auto;
    background-color: #fff;
    position: relative;
    top: 50px; } }

@media only screen and (min-width: 360px) and (max-width: 410px) {
  .tiles {
    /* display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          width: 80%;
          height: 100%; */
    flex-wrap: wrap;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    margin-right: -10px; }
  .deal {
    position: relative;
    cursor: pointer;
    height: 260px;
    width: 155px;
    display: block;
    /* margin-left: 10px; */
    margin-right: 10px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    background-size: contain;
    background-repeat: no-repeat; }
  .deal .deal-caption {
    font-size: 15px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 111px;
    background-color: #fff;
    padding-top: 77px;
    text-align: center;
    line-height: 18px; }
  .deal .deal-caption b {
    font-weight: bold;
    color: #2b2929; }
  .deal .deal-caption span {
    font-size: 15px;
    color: #000;
    display: block;
    margin-top: 10px; }
  .deal .deal-caption .top10 {
    font-size: 10px; }
  .deal .deal-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 120px;
    height: 75px;
    margin: 80px auto;
    background-color: #fff;
    position: relative;
    top: 50px; } }

@media only screen and (min-width: 411px) and (max-width: 767px) {
  .tiles {
    /* display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          width: 80%;
          height: 100%; */
    flex-wrap: wrap;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    margin-right: -10px; }
  .deal {
    position: relative;
    cursor: pointer;
    height: 260px;
    width: 180px;
    display: block;
    /* margin-left: 10px; */
    margin-right: 10px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    background-size: contain;
    background-repeat: no-repeat; }
  .deal .deal-caption {
    font-size: 15px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 111px;
    background-color: #fff;
    padding-top: 77px;
    text-align: center;
    line-height: 18px; }
  .deal .deal-caption b {
    font-weight: bold;
    color: #2b2929; }
  .deal .deal-caption span {
    font-size: 15px;
    color: #000;
    display: block;
    margin-top: 10px; }
  .deal .deal-caption .top10 {
    font-size: 10px; }
  .deal .deal-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 120px;
    height: 75px;
    margin: 80px auto;
    background-color: #fff;
    position: relative;
    top: 50px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 80%; */
    height: 100%; }
  .deal {
    position: relative;
    cursor: pointer;
    height: 230px;
    /* width: 168px; */
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    margin-bottom: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden; }
  .deal .deal-caption {
    font-size: 15px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 120px;
    background-color: #fff;
    padding-top: 35px;
    text-align: center;
    line-height: 18px; }
  .deal .deal-caption b {
    font-weight: bold;
    color: #2b2929; }
  .deal .deal-caption span {
    font-size: 15px;
    color: #000;
    display: block;
    margin-top: 10px; }
  .deal .deal-caption .top10 {
    font-size: 10px; }
  .deal .deal-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 120px;
    height: 75px;
    margin: 25px auto;
    background-color: #fff;
    position: relative;
    top: 50px; } }

@media only screen and (min-width: 1024px) {
  .tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%; }
  .deal {
    position: relative;
    cursor: pointer;
    height: 230px;
    width: 168px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    margin-bottom: 50px;
    background-size: contain;
    background-repeat: no-repeat; }
  .deal .deal-caption {
    font-size: 15px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 120px;
    background-color: #fff;
    padding-top: 35px;
    text-align: center;
    line-height: 18px; }
  .deal .deal-caption b {
    font-weight: bold;
    color: #2b2929; }
  .deal .deal-caption span {
    font-size: 15px;
    color: #000;
    display: block;
    margin-top: 10px; }
  .deal .deal-caption .top10 {
    font-size: 10px; }
  .deal .deal-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 120px;
    height: 75px;
    margin: 25px auto;
    background-color: #fff;
    position: relative;
    top: 50px; } }
