.div_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; 

  height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: scroll;

}

@media only screen  and (min-width : 300px)  and (max-width : 768px) {
  .div_content {
   margin-top: 30px;
  
  }
  
}
