@keyframes slideInRight {
	0% {
		left: -1em;
	}
	100% {
		left: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes bounceInUp {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	from {
		opacity: 0;
		transform: translate3d(0, 400px, 0);
	}

	40% {
		opacity: 1;
		transform: translate3d(0, -20px, 0);
	}

	65% {
		transform: translate3d(0, 10px, 0);
	}

	80% {
		transform: translate3d(0, -5px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes typingLoader {
	0%, 60%, 100% {
		opacity: 0.4;
	}

	30% {
		opacity: 1;
	}
}