.app-wrapper {
  padding: 1em;
  min-height: calc(100vh - 6em); }
  .app-wrapper .bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
