// Colors
$primary: #fff;
$primary-gradient: linear-gradient(0deg, #fff, #fff);
$white: #ffffff;
$text: #555;
$black: #000;
$yellow: #f9ff66;
$greywhite: #f6f6f6;
//Misc
$box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.2);
$animationDuration: 400ms;
$inputAnimationDuration: 700ms;
