@import "Animations.scss";
@import "Constants.scss";

.message-list-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-height: calc(100vh - 16em);
  .lastimage {
    width: 80%;
    height: 100%;
    @media screen and (max-width: 468px) {
      width: 100%;
    }
  }
  .card-static-wrapper {
    animation-name: fadeIn;
    animation-duration: $animationDuration;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: 12em;
    margin-top: -0.5em;
    margin-left: -1em;
    width: 100vw;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .preload-image {
    display: none;
  }
  .send-button {
    align-self: center;
    margin-left: 1em;
    padding: 1em 1.6em;
    background-color: $black;
    border-radius: 4em;
    color: $white;
    font-weight: 600;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
