@import "Constants.scss";
.message-input-container {
  width: 100%;
  margin-top: auto;
  z-index: 100;
  position: relative;
  .message-input-wrapper {
    position: relative;
    width: 100%;
    top: 0;
    left: -1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: top 300ms;
    &.nation {
      div {
        .nationality {
          width: 80%;
          border-radius: 14px;
          border: none;
          background-color: #ffffff;
          -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 6px -4px rgba(0, 0, 0, 0.2);
          -webkit-transition: all 400ms;
          -o-transition: all 400ms;
          transition: all 400ms;
          font-family: Graphik;
          font-size: 16px;
          color: #555;
          height: 2em;
        }
      }
    }
    &.choice {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .row {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          button {
            width: 100%;
            margin: 10px;
            border-radius: 10px;
            background-color: transparent;
            border: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          }
        }
        .gallery {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 501px;
          button {
            width: 100px;
            height: 100px;
            margin: 10px;
            border-radius: 10px;
            background-color: transparent;
            border: none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          }
        }
        @media screen and (max-width: 768px) {
          .gallery {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 340px;
            button {
              width: 90px;
              height: 90px;
              margin: 10px;
              border-radius: 10px;
              background-color: transparent;
              border: none;
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
    &.toggleButton {
      display: block;
      hr {
        border: 1px solid #ffffff66;
      }
      .message-item-wrapper {
        max-width: 100%;
        margin-bottom: 1.5em;
        .message {
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
          background-color: #ffffff;
          color: #0b0b0b;
          cursor: pointer;
          font-weight: 500;
        }
      }
    }
    &.yesno {
      display: block;
      hr {
        border: 1px solid #ffffff66;
      }
      .message-item-wrapper {
        max-width: 100%;
        margin-bottom: 1.5em;
        .message {
          width: 120px;
          text-align: center;
          background-color: #ffffff;
          color: #0b0b0b;
          cursor: pointer;
          text-transform: capitalize;
        }
      }
    }
    &.select {
      padding-bottom: 0;
      margin-bottom: -1em;
      .button-wrapper {
        margin-bottom: 1em;
      }
    }
    &.leaving {
      top: 500px;
    }
    animation-name: fadeIn;
    animation-duration: $inputAnimationDuration;
    .message-array {
      display: flex;
      flex: 1;
      .message {
        flex: 1;
        margin-right: 1em;
        &:last-child {
          margin-right: 0;
        }
        &.message-static {
          width: auto;
        }
      }
    }
    .message-static {
      cursor: pointer;
      background-color: #ffffff;
      color: #0b0b0b;
      font-weight: 600;
      width: 100%;
      text-align: center;
      &.notbolt {
        background-color: #ffffff;
        color: #0b0b0b;
      }
    }
    div {
      .message-input-container {
        width: 100%;
        display: flex;
        align-items: center;
        input,
        .send-button {
          padding: 1em 1.4em;
          border-radius: 4em;
          box-shadow: $box-shadow;
        }
        .phone {
          margin-left: -100px;
          padding-left: 110px;
          font-family: "Graphik", sans-serif;
        }
        .agentphone {
          margin-left: -50px;
          padding-left: 50px;
          font-family: "Graphik", sans-serif;
        }
        .salary {
          margin-left: -50px;
          padding-left: 50px;
          font-family: "Graphik", sans-serif;
        }
        .company_site {
          padding-left: 105px;
          width: 80%;
          font-family: "Graphik", sans-serif;
        }
        .year {
          margin-right: -100px;
          padding-right: 50px;
          font-family: "Graphik", sans-serif;
        }
        p {
          font-size: 1em;
          margin-left: 50px;
          font-family: "Graphik", sans-serif;
          margin-bottom: 0px;
          z-index: 100;
          line-height: 1;
        }
        input {
          background-color: $white;
          outline: none;
          border: none;
          flex: 1;
          font-size: 1em;
        }
        .send-button {
          margin-left: 1em;
          padding: 1em 1.6em;
          background-color: $black;
          color: $white;
          font-weight: 600;
          opacity: 1;
          transition: opacity 0.15s;
          &.disabled {
            opacity: 0.8;
          }
          &.notbolt {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
    .message-input-container {
      width: 100%;
      display: flex;
      align-items: center;
      input,
      .send-button {
        padding: 1em 1.4em;
        border-radius: 4em;
        box-shadow: $box-shadow;
      }
      .cuisine-card {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 270px;
        padding: 1em 1.4em;
        border-radius: 4em;
        color: $black;
        background-color: white;
        font-weight: 300;
        opacity: 1;
        transition: opacity 0.15s;
        .logo-part {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }
      input {
        background-color: $greywhite;
        outline: none;
        border: none;
        flex: 1;
        font-size: 1em;
      }
      .send-button {
        margin-left: 1em;
        padding: 1em 1.6em;
        background-color: $black;
        color: $white;
        font-weight: 600;
        opacity: 1;
        transition: opacity 0.15s;
        &.disabled {
          opacity: 0.8;
        }
        &.notbolt {
          background-color: $black;
          color: $white;
        }
      }

      .addressbox {
        display: "flex";
        flex-direction: "column";
        width: 250px;
        padding: 15px;

        border-radius: 20px;
        border: 2px solid $greywhite;
        .address {
          border: 0;
          border-bottom: 1px solid $greywhite;
          outline: 0;
          border-width: 0 0 2px;
          border-radius: 0;
          background: transparent;
          box-shadow: unset;
          padding: 10px;
        }
      }
    }
  }
}
.swal-overlay {
  .swal-modal {
    .swal-footer {
      .swal-button-container {
        .swal-button--confirm {
          background-color: #2b2b2b;
          color: #ffffff;
          padding: 1em 1.6em;
          border-radius: 4em;
        }
      }
    }
  }
}
.message-input-outer {
  flex: 1;
  width: 100%;
  .button {
    max-width: 12em;
    margin-left: auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 4em;
    padding: 1em;
    font-size: 15px;
    background-color: #f6f6f6;
    color: #152439;
    font-weight: 600;
    opacity: 1;
    -webkit-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s;
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.2);
  }
}
.hidden-email-text {
  color: #ffffff;
  text-align: center;
  margin-bottom: -1em;
  margin-top: 1em;
  opacity: 0.6;
}
