@keyframes slideInRight {
  0% {
    left: -1em; }
  100% {
    left: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 400px, 0); }
  40% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  65% {
    transform: translate3d(0, 10px, 0); }
  80% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes typingLoader {
  0%, 60%, 100% {
    opacity: 0.4; }
  30% {
    opacity: 1; } }

.message-item-wrapper {
  color: #555;
  max-width: 100%;
  margin-bottom: 1em;
  min-height: 1.4em; }
  .message-item-wrapper.bot .typing-loader {
    height: 50px;
    transition: all 0.3s;
    opacity: 1;
    position: relative;
    animation-name: slideInRight;
    animation-duration: 300ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .message-item-wrapper.bot .message {
    position: absolute;
    opacity: 0;
    transform: scale(0); }
  .message-item-wrapper.bot .progress {
    opacity: 0;
    transition: all 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .message-item-wrapper.bot .progress p {
      font-size: 14px; }
  .message-item-wrapper.bot.loaded .typing-loader {
    position: absolute;
    opacity: 0;
    transform: translateY(2em); }
  .message-item-wrapper.bot.loaded .message {
    position: relative;
    opacity: 1;
    transform: scale(1); }
  .message-item-wrapper.bot.loaded .progress {
    opacity: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    transition: none; }
    @media screen and (max-width: 468px) {
      .message-item-wrapper.bot.loaded .progress p {
        font-size: 10px; } }
    @media screen and (min-width: 469px) {
      .message-item-wrapper.bot.loaded .progress p {
        font-size: 1em; } }
    .message-item-wrapper.bot.loaded .progress .circle {
      background-color: grey;
      border: 1px solid #152439;
      border-radius: 20px;
      margin: 2px; }
      @media screen and (max-width: 468px) {
        .message-item-wrapper.bot.loaded .progress .circle {
          height: 10px;
          width: 10px; } }
      @media screen and (min-width: 469px) {
        .message-item-wrapper.bot.loaded .progress .circle {
          height: 15px;
          width: 15px; } }
  .message-item-wrapper.user {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end; }
    .message-item-wrapper.user .message {
      background-color: #d9d9d9;
      color: #000;
      font-weight: 300;
      opacity: 0;
      transform: scale(0); }
      .message-item-wrapper.user .message.notbolt {
        background-color: #d9d9d9;
        color: #000; }
    .message-item-wrapper.user.loaded .message {
      opacity: 1;
      transform: scale(1); }
    .message-item-wrapper.user .typing-loader {
      display: none; }

.avatar {
  border-radius: 40px;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.2);
  margin-right: 5px; }
