#main-container {
  margin-top: 50px;
}
.row_view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 40px 15%;
  .coin_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 14px;
      margin-bottom: 0px;
    }
    .coin_img {
      width: 90px;
      margin-bottom: -55px;
    }
  }
  .bottom_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    p {
      margin-bottom: 0px;
    }
  }
  button.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    p {
      color: black;
      font-weight: 400;
      margin-bottom: 0px;
    }
    img {
      margin-left: 5px;
    }
  }
  button.btn:hover {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 767px) {
  .row_view {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0;
    button.btn {
      margin-left: 10px;
      margin-right: 10px;
    }
    .coin_div {
      width: 50%;
      .coin_img {
        width: 90px;
        margin-bottom: -55px;
      }
      margin-bottom: 55px;
    }
  }
}

.coin_div_mobile_none {
  @media (max-width: 767px) {
    display: none !important;
  }
}

.eco_coin_div {
  @media (max-width: 767px) {
    padding-left: 25px;
  }
  & img {
    height: auto !important;
  }
}

.pending_coin_div {
  @media (max-width: 767px) {
    padding-left: 25px;
  }
}

.live_coin_div {
  @media (max-width: 767px) {
    padding-right: 25px;
  }
}