.ticket_item {
  width: 100%;
  margin: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2); }

.button_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .button_group .option_button {
    width: 100px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 2px; }
    .button_group .option_button p {
      width: 100%;
      text-align: center;
      font-size: 15px;
      margin: 0px; }

.close_option {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  margin: 4px; }

.clicked {
  box-shadow: 0px 0px 3px; }

.close_button {
  width: 160px;
  height: 40px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: white;
  color: #999999;
  border: none;
  font-weight: 300;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 5px; }
